body {
  font-family: sans-serif;
  background: linear-gradient(to left, #283048, #859398);
  font-size: small;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  color: rgb(162, 162, 162);
  display: inline-block;
  margin: 1.5em;
}

h3 {
  size: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.Navbar {
  background: linear-gradient(to right, #0f2027, #10252d, #1c353f);
  border-radius: 5px;
}

.inner-pad {
  border: 1px solid rgb(97, 97, 97);
  background: linear-gradient(to right, #c6c6c6, #d7dde8);
  border-radius: 10px;
  margin: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.all-products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.all-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.all-cart-product-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(97, 97, 97);
  background: linear-gradient(to right, #c6c6c6, #d7dde8);
  flex-direction: row;
  border-radius: 10px;
  margin: 15px;
  width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.all-products-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.all-products-product {
  border: 1px solid rgb(97, 97, 97);
  background: linear-gradient(to right, #c6c6c6, #d7dde8);
  flex-wrap: wrap;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.all-users-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.users-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(97, 97, 97);
  background: linear-gradient(to right, #c6c6c6, #d7dde8);
  align-items: center;
  border-radius: 10px;
  margin: 15px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.all-prod-button {
  border: 1px solid rgb(74, 74, 74);
  background: #1c353f;
  color: #f4f4f4;
  padding: 8px;
  margin: 10px;
  border-radius: 12px;
}

.delete-button {
  border: 1px solid rgb(74, 74, 74);
  background: #000000;
  color: #f4f4f4;
  padding: 8px;
  margin: 10px;
  border-radius: 12px;
  align-self: flex-end;
}

.delete-button-admin {
  border: 1px solid rgb(74, 74, 74);
  background: #000000;
  color: #f4f4f4;
  padding: 8px;
  margin: 10px;
  border-radius: 12px;
  align-self: flex-end;
}

.all-prod-image {
  height: 200px;
  margin: 5px;
  border-radius: 10px;
}

.admin-prod-image {
  height: 40px;
  margin: 5px;
  border-radius: 10px;
}

.cart-prod-image {
  height: 60px;
  margin: 5px;
  border-radius: 10px;
}

.admin-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.all-admin-product-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(97, 97, 97);
  background: linear-gradient(to right, #c6c6c6, #d7dde8);
  flex-direction: row;
  border-radius: 10px;
  margin: 15px;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.single-prod-image {
  height: 400px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.single-cart-image {
  height: 100px;
  width: 80;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.admin-prod-title {
  size: 0.5em;
  flex-wrap: wrap;
}

.admin-prod-title-box {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}

body {
  background-color: #151517;
}

/* .icon-cart {
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;
    margin-left: 25px;
    margin-bottom: 25px;
}

.icon-cart .cart-line-1 {
    width: 15%;
    height: 7%;
    position: absolute;
    left: 8%;
    top: 25%;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    background-color: #000;
    border-bottom-left-radius: 35%;
}

.icon-cart .cart-line-2 {
    width: 35%;
    height: 7%;
    position: absolute;
    left: 6%;
    top: 40%;
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    transform: rotate(80deg);
    background-color: #000;
}

.icon-cart .cart-line-2:before {
    content: '';
    width: 120%;
    height: 100%;
    position: absolute;
    left: 45%;
    top: -280%;
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg);
    background-color: inherit;
}

.icon-cart .cart-line-2:after {
    content: '';
    width: 70%;
    height: 100%;
    position: absolute;
    left: 59%;
    top: -670%;
    background-color: inherit;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 25%;
}

.icon-cart .cart-line-3 {
    width: 30%;
    height: 7%;
    position: absolute;
    left: 33%;
    top: 45%;
    background-color: #000;
}

.icon-cart .cart-line-3:after {
    content: '';
    width: 124%;
    height: 100%;
    position: absolute;
    top: -150%;
    left: -5%;
    background-color: inherit;
}

.icon-cart .cart-wheel {
    width: 12%;
    height: 12%;
    background-color: #000;
    border-radius: 100%;
    position: absolute;
    left: 28%;
    bottom: 20%;
}

.icon-cart .cart-wheel:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 100%;
    position: absolute;
    left: 200%;
    bottom: 0;
}

a {
    position: absolute;
    bottom: 12px;
    right: 20px;
} */
